header{
   background-color: black;
  text-align: center;
  color: #c4d5d5;
  max-width: 800px;
  margin: 0 auto;
}

main{
    background-color: rgb(1, 106, 198);
    color:rgb(34, 29, 29);
    max-width:800px;
    margin:0 auto;
}

img{
width: 80px;
height: 80px;
}